name: 'deploy dev'

on:
  pull_request:
    types: ['opened', 'edited', 'synchronize']
    branches:
      - develop

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: 'Deploy dev to Netlify'
    
    steps:
      - uses: jsmrcaga/action-netlify-deploy@v2.0.0
        with:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_CLIENT_ID }}
          NETLIFY_DEPLOY_MESSAGE: "Dev deploy v${{ github.ref }}"
          NETLIFY_DEPLOY_TO_PROD: true
          deploy_alias: ${{ env.BRANCH_NAME }}
          build_directory: ./
          install_command: ls
          build_command: ls
